.btnSubmit {
    background-color: #e40914;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
}

.starWrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.startWrapper span,
.totalVote {
    font-size: 1.2rem;
}
