.root {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: end;
}

.welcomeMsg {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.welcomeMsg span {
    color: #e40914;
}

.btnLogout {
    background: #e40914;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}
